body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.hearts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: falling-hearts 5s linear infinite;
}

.heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('../images/heart.png'); /* Imagem do coração */
    background-repeat: no-repeat;
    background-size: contain;
    animation: falling-heart 5s linear infinite;
    opacity: 0;
}

@keyframes falling-hearts {
    0% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(110%);
    }
}

@keyframes falling-heart {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: pink;
}

.image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.text {
    font-size: 24px;
    font-weight: bold;
    color: #ff69b4; /* Cor do texto */
    margin-top: 20px;
}
